.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 200px;
}

.nav-bar>ul {
    display: flex;
    list-style-type: none;
    font-size: large;
}

.nav-bar>ul>li {
    padding: 25px;
    margin: 10px;
}

.res-card {
    flex-wrap: wrap;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    margin-top: 20px;
}


.res-card>img {
    height: 200px;
    width: 300px;
}


.restaurtant-contioner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.SearchBar{
    padding: 10px;
}