.restaurtantbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  height: 300px;
  width: 200px;
  border: 2px solid black;
}

img {
  width: 170px;
}
ul {
  display: flex;
  flex-direction: row;
}
.navbar {
  padding: 20px;
  margin: 20px;
}

.SearchBar {
  margin: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
